<div class="component-upload-files">

    <!--attr 'folder' empty-->
    <div class="error-folder" ng-hide="$ctrl.folder">
        <h4 class="text-muted rm-bottom">É necessário indicar uma pasta para salvar as imagens.</h4>
    </div>

    <!--clickable area-->
    <div class="drop-area" ng-show="$ctrl.folder">
        <div class="loading" ng-show="$ctrl.isLoading">
            <i class="fa fa-refresh fa-spin fa-5x"></i>
        </div>
        <label>
            <h4 class="text-muted"><i class="fa fa-mouse-pointer"></i> {{$ctrl.multipleFiles ? 'Clique para carregar um ou vários arquivos' : 'Clique para carregar um arquivo'}}</h4>
            <small class="text-primary">Formatos aceitos: {{$ctrl.acceptFormats()}}</small>

            <input type="file" onchange="angular.element(this).scope().$ctrl.upload(this)" accept="{{$ctrl.acceptFormats()}}" ng-if="!$ctrl.multipleFiles" />
            <input type="file" onchange="angular.element(this).scope().$ctrl.upload(this)" accept="{{$ctrl.acceptFormats()}}" multiple ng-if="$ctrl.multipleFiles" />
        </label>
    </div>

</div>