.view-product-list-border{
    margin-top: 15px;
    height: 5px;
    background-color: $black;
}

.view-product-list{
    @media(min-width: 992px){
        display: grid;
        grid-template-columns: 240px auto;
        grid-template-areas: 'categories products';
    }

    > aside.categories{
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: $white;
        background-image: linear-gradient(to bottom, $gray-lightest 80%, transparent);

        transition: transform .4s;
        transform: translateX(-100%);

        overflow-x: auto;
        z-index: 11;

        &.open{
            transform: translateX(0);
            border-right: 10px solid darken($gray-lightest, 5%);
        }

        @media(min-width: 992px){
            position: relative;
            grid-area: categories;
            padding: 20px 0 50px;
            width: 100%;
            height: auto;
            min-height: 600px;
            transform: translateX(0);
        }

        ul.level1, ul.level2, ul.level3{
            > li > .name{
                padding: 5px 15px;
                cursor: pointer;

                &.active{
                    color: $brand-primary;
                    font-weight: bold;
                }
            }
        }

        ul.level1{
            > li {
                > .name{
                }

                > ul.level2{
                    > li{
                        > .name {
                            padding-left: 30px;
                        }

                        > ul.level3{
                            > li{
                                > .name{
                                    padding-left: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > .products{
        padding-top: 30px;
        width: 100%;

        @media(min-width: 992px){
            grid-area: products;
            margin-left: 30px;
            width: calc(100% - 30px);

            &.no-products{
                padding-top: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                min-height: 300px;
            }
        }


        .nothing-found{
            color: $brand-danger;
            font-family: "News701 BT", serif;
            font-weight: bold;
            text-align: center;
        }
    }
}