<page-loading hide="$ctrl.loaded"></page-loading>
<page-header section="'Produto'" page="'Categorias'"></page-header>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Você pode criar até 3 níveis de categoria para atrelar seus produtos.</p>
                    <p>No cadastro e edição de um produto é possível alterar sempre que necessário as categorias do produto.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4" ng-repeat="(levelKey, levels) in $ctrl.levels.data">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Nível {{$index + 1}} <button class="btn btn-default btn-xs pull-right" type="button" ng-click="$ctrl.sort(levelKey)"><i class="fa fa-sort"></i> Ordenar</button></h4>
                    <hr class="rm-top" style="margin-bottom: 5px;"/>

                    <!--CREATE NEW LEVEL1-->
                    <div class="input-group input-group-sm">
                        <input class="form-control" type="text" placeholder="Descrição" ng-model="$ctrl.levels.new[levelKey]" ng-maxlength="64" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="$ctrl.create(levelKey, $ctrl.levels.new[levelKey])"><i class="fa fa-plus"></i> Criar</button>
                        </span>
                    </div>
                </div>

                <!--LIST OF CREATED LEVELS-->
                <table class="table table-striped table-bordered table-condensed">
                    <tr ng-repeat="level in levels track by level.id" ng-class="{'info': level.id === $ctrl.levels.selected[levelKey]}">
                        <td>
                            <div class="input-group input-group-sm">
                                <span class="input-group-btn" ng-hide="levelKey === 'level3'">
                                    <button class="btn btn-default" type="button" ng-click="$ctrl.setSelected(levelKey, level.id)" uib-tooltip="Selecionar" tooltip-placement="right">
                                        <i class="fa fa-mouse-pointer"></i>
                                    </button>
                                </span>
                                <input class="form-control" type="text" ng-model="level.name" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="$ctrl.edit(level.name, level.id, levelKey)" uib-tooltip="Editar" tooltip-placement="left"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger-outline" type="button" ng-click="$ctrl.delete(level.id, levelKey, $index)" uib-tooltip="Remover" tooltip-placement="left"><i class="fa fa-close"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="levels.length">
                        <td>Sem categorias no momento.</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>