.component-product-item{
    position: relative;
    border: 1px solid $gray-lightest;
    border-radius: $border-radius-base;

    > .badges{
        position: absolute;
        top: 0;
        right: 0;
    }

    > .images{
        cursor: pointer;
    }

    > .information{
        padding: 15px 15px 0;
        background-color: $gray-lightest;

        > .reference{
            color: $brand-primary;
            font-size: 22px;
            font-weight: bolder;
            cursor: pointer;
        }

        > .description{
            height: 60px;

            color: $gray-light;
            line-height: 1;
            text-align: justify;
        }
    }
}