<div class="view-login" ng-controller="cLogin as login">
    <div class="content">
        <div class="row">

            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="form-group">
                    <img class="img-responsive center-block" ng-src="../images/admin-logo.png" title="Logo login" />
                </div>
            </div>

            <div class="col-xs-12">
                <form name="loginForm" ng-submit="loginForm.$valid && login.authLogin( login.auth )" novalidate>

                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Usuário" ng-model="login.auth.email" required autocomplete="off" autofocus/>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Senha" ng-model="login.auth.password" required autocomplete="off"/>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Entrar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>