<div class="modal-header">
    <button class="close" type="button" ng-click="$ctrl.close()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-image"></i> Alterar/Adicionar Imagem</h4>
</div>
<div class="modal-body">
    <upload-files folder="../images/products/" ng-model="$ctrl.image" resize="true"></upload-files>
</div>
<div class="modal-footer">
    <button class="btn btn-danger-outline btn-xs" type="button" ng-click="$ctrl.close()">Cancelar</button>
</div>
