<header class="main-header">
    <div class="menu" ng-click="toggleAside()">
        <i class="fa fa-bars" uib-tooltip="Menu" tooltip-placement="right"></i>
    </div>
    <div class="company">
        {{CONFIGS.COMPANY.name}}
    </div>
    <div class="logout" ng-click="logout()">
        <i class="fa fa-power-off"></i> <span class="hidden-xs">Sair</span>
    </div>
</header>