<page-loading hide="$ctrl.loaded"></page-loading>
<page-header section="'Produto'" page="($ctrl.data.products.id ? 'Editar': 'Criar') + ' Produto'"></page-header>

<form name="form" ng-submit="form.$valid && $ctrl.multi()" novalidate>
    <div class="container-fluid">

        <div class="row" ng-if="$ctrl.data.products.id">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <button class="btn btn-info-outline btn-block btn-sm" type="button" ng-click="$ctrl.clone()">Clonar produto</button>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-danger-outline btn-block btn-sm" type="button" ng-click="$ctrl.delete()">Remover produto</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Fotos do Produto
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped">
                            <tr ng-repeat="item in $ctrl.data.product_images track by $index">
                                <td ng-class="{'rb-top': $first}" width="50"><img ng-src="../images/products/75-{{item.image}}" d-err-src="../images/products/fallback.png" alt="{{item.image ? item.image : 'Sem imagem'}}" width="50" /></td>
                                <td ng-class="{'rb-top': $first}">
                                    <div>{{item.image ? 'Foto: ' + item.image : 'Sem imagem'}}</div>
                                    <button class="btn btn-danger-outline btn-xs" type="button" ng-click="$ctrl.removeImage($index)" ng-show="item.image">Remover</button>
                                    <button class="btn btn-primary-outline btn-xs" type="button" ng-click="$ctrl.uploadImage($index)">{{item.image ? 'Alterar': 'Adicionar'}}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-lg-9">

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group" ng-class="{'has-success': form.reference.$valid, 'has-error': form.reference.$invalid}">
                            <label>Referência *</label>
                            <input class="form-control" name="reference" type="text" placeholder="A0001" tabindex="1" ng-model="$ctrl.data.products.reference" ng-maxlength="64" required />
                        </div>

                        <div class="form-group" ng-class="{'has-success': form.observation.$valid, 'has-error': form.observation.$invalid}">
                            <label>Observação <small class="text-muted">(somente para o administrador)</small></label>
                            <textarea class="form-control" name="observation" placeholder="" rows="1" tabindex="3" ng-model="$ctrl.data.products.observation" msd-elastic></textarea>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group" ng-class="{'has-success': form.description.$valid, 'has-error': form.description.$invalid}">
                            <label>Descrição *</label>
                            <input class="form-control" name="description" type="text" placeholder="Produto XYZ" tabindex="2" ng-model="$ctrl.data.products.description" ng-maxlength="64" required />
                        </div>

                    </div>
                </div>

                <div class="form-group" ng-class="{'has-success': form.observation.$valid, 'has-error': form.observation.$invalid}">
                    <label>Descrição Completa</label>
                    <ng-quill-editor ng-model="$ctrl.data.products.full_description"></ng-quill-editor>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <uib-tabset active="$ctrl.indexActiveTab">
                    <uib-tab index="0" heading="Categorias">
                        <div class="row">

                            <div class="col-xs-12 col-sm-4" ng-repeat="(levelKey, levels) in $ctrl.categories.data">
                                <div class="panel panel-default rm-bottom">
                                    <div class="panel-heading">
                                        <h4 class="rm-bottom">Nível {{$index + 1}}</h4>
                                    </div>

                                    <!--LIST OF CREATED LEVELS-->
                                    <table class="table table-striped table-bordered table-condensed">
                                        <tr ng-repeat="level in levels track by level.id" ng-class="{'info': level.id === $ctrl.categories.selected[levelKey]}">
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-btn" ng-hide="levelKey === 'level3'">
                                                        <button class="btn btn-default" type="button" ng-click="$ctrl.setSelectedCategory(levelKey, level.id)" uib-tooltip="Selecionar" tooltip-placement="right">
                                                            <i class="fa fa-mouse-pointer"></i>
                                                        </button>
                                                    </span>
                                                    <input class="form-control" type="text" ng-model="level.name" />
                                                    <span class="input-group-btn">
                                                        <div class="switch" ng-click="$ctrl.toggleProductCategory(level.id)">
                                                            <input type="checkbox" ng-checked="$ctrl.checkActiveCategory(level.id)">
                                                            <span class="slider"></span>
                                                        </div>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-hide="levels.length">
                                            <td>Sem categorias no momento.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-10 text-right">
                <div class="form-group">
                    <button class="btn btn-danger-outline" type="button" ui-sref="main.product.list">Cancelar</button>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="form.$invalid"><i class="fa fa-plus"></i> {{$ctrl.data.products.id ? 'Editar': 'Criar'}}</button>
                </div>
            </div>
        </div>

    </div>

</form>