/* Remove Margins, Paddings, Borders */
$list: ('top', 'right', 'bottom', 'left');

@each $position in $list{
    .rm-#{$position}{
        margin-#{$position}: 0px;
    }

    .rp-#{$position}{
        padding-#{$position}: 0px;
    }

    .rb-#{$position}{
        border-#{$position}: none !important;
    }
}

// CURSOR
.cursor-grab{
    cursor: grab;
}

.cursor-pointer{
    cursor: pointer;
}