<div class="view-product-detail">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="hidden-xs"><a ui-sref="main.home">Ínicio</a></li>
                    <li ng-repeat="category in $ctrl.categoryTree | orderBy: 'sort'"><a ui-sref="main.productList({'link': category.link})">{{category.name}}</a></li>
                    <li class="active">{{$ctrl.product.reference}} - {{$ctrl.product.description}}</li>
                </ol>
            </div>

            <div class="col-md-6">
                <d-image-zoom src="{{'images/products/800-' + $ctrl.product.images[$ctrl.currentImageIndex].image}}" frame="image_wrapper" img="product_image" zoomlvl="2"></d-image-zoom>
                <img class="img-responsive hidden-md hidden-lg" ng-src="images/products/800-{{$ctrl.product.images[$ctrl.currentImageIndex].image}}" alt="{{$ctrl.product.description}}" ng-swipe-right="$ctrl.swipeImage('right')" ng-swipe-left="$ctrl.swipeImage('left')" />

                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-3" ng-repeat="image in $ctrl.product.images">
                        <div class="product-thumbs" ng-class="{'active': $ctrl.currentImageIndex == $index}" ng-click="$ctrl.currentImageIndex = $index">
                            <img class="img-responsive" ng-src="images/products/350-{{image.image}}" d-err-src="images/products/fallback.png" alt="{{$ctrl.product.description}}" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="product-title">
                    <h1 class="rm-bottom">{{$ctrl.product.reference}}</h1>
                    <p class="rm-bottom">{{$ctrl.product.description}}</p>
                </div>

                <div class="full-description">
                    <div ng-bind-html="$ctrl.product.full_description"></div>
                </div>
            </div>
        </div>
    </div>


</div>